# Пример файла .env
# Секретный ключ Django
SECRET_KEY=ваш_секретный_ключ
DEBUG=состояние_дебага

# Настройки базы данных
DB_NAME=название_базы_данных
DB_USER=имя_пользователя
DB_PASSWORD=пароль
DB_HOST=хост
DB_PORT=порт
