{% extends 'catalog/base.html' %}
{% block content %}
<div class="text-center">
    <a href="{% url 'catalog:product_create' %}"
       class="btn btn-sm btn-outline-secondary">
        Добавить продукт
    </a>
</div>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in object_list %}
            <div class="col">
                <div class="card shadow-sm">
                    {% if product.image %}
                    <img src="{{ product.image.url }}">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">{{ product.name }}</p>
                        <p class="card-text">{{ product.description|truncatechars:100 }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'catalog:products_detail' product.pk %}" class="btn btn-sm btn-outline-secondary">Посмотреть</a>
                                <a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-sm btn-outline-secondary">Редактировать</a>
                                <a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-sm btn-outline-secondary">Удалить</a>
                            </div>
<!--                            <small class="text-body-secondary">Дата изменения: {{ product.update_at|date:"d M Y" }}</small>-->
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}